extends layout

block content
  h1 Customer Reviews
  div(style="background: #e8e4dc; padding: 20px; margin-bottom: 20px;")
    h3 Leave a Review
    form(method="POST" action="/comments/add")
      label Name:
      input(type="text" name="customer_name" required)
      label Comment:
      textarea(name="message" required)
      button.btn(type="submit") Post Review

  each val in comments
    div.comment-box
      strong= val.customer_name
      p= val.message
      small= val.created_at