extends layout

block content
  h1 Welcome to Downtown Donuts
  p Serving the community since 1992.
  br
  h2 Order Online
  p Get fresh donuts delivered to your door.
  br
  a.btn(href="https://www.ubereats.com") Order UberEats
  span &nbsp;
  a.btn(href="https://www.doordash.com/") Order DoorDash