extends layout

block content
  h1.brand-font(style="text-align:center; font-size: 3.5rem;") Our Menu
  p(style="text-align:center") Freshly baked every morning at 4:00 AM.

  h2 Classics
  div.menu-grid
    div.menu-item
      h3 Glazed Original
      p The classic honey-glazed ring that started it all.
      span.price $1.50
    div.menu-item
      h3 Chocolate Dip
      p Our airy yeast donut dipped in rich dark chocolate ganache.
      span.price $1.75
    div.menu-item
      h3 Old Fashioned
      p A crunchy, cake-style donut with a hint of nutmeg.
      span.price $1.50

  h2 Specialties
  div.menu-grid
    div.menu-item
      h3 Maple Bacon
      p Sweet maple icing topped with crispy, savory bacon bits.
      span.price $3.00
    div.menu-item
      h3 Lemon Zest
      p Filled with tart lemon curd and dusted with powdered sugar.
      span.price $2.75
    div.menu-item
      h3 The Downtowner
      p Our signature square donut filled with espresso cream.
      span.price $3.25

  h2 Coffee
  div.menu-grid
    div.menu-item
      h3 House Drip
      p Medium roast, locally sourced beans.
      span.price $2.50
    div.menu-item
      h3 Cold Brew
      p Steeped for 18 hours for maximum smoothness.
      span.price $3.50